@using App.Resources
@model App.ViewModels.Home.IndexViewModel

<table class="tablewidth text-center">
    <tr>
        <td>@(Html.Raw(Model.UserInstructions))</td>
    </tr>
    <tr>
        <th class="centerblock">
            <br/>
            <div class="container-fluid ">
                    @Html.Label("Current Users ")<text>&nbsp;</text>
                    <a href="@Model.CurrentUserUrl">@Buttons.CurrentUsers</a>

                    <br/><br/>
                    New Users <a href="@Model.NewUserUrl">@Buttons.NewUsers</a> to create a profile
                    
            </div>
        </th>
    </tr>
</table>
