@using App.Models.PersonSuggestion
@using App.Resources
@model App.ViewModels.PersonSuggestion.IndexViewModel

@{

    var formname = string.Empty;
}
@Html.Partial(MVC.Shared.Views._PageHeading)
<table class="tablewidth">

    @using (Html.BeginForm(MVC.PersonSuggestion.ActionNames.SuggestionNew, MVC.PersonSuggestion.Name, FormMethod.Post, new { id = "newsuggest" }))
    {
        @Html.AntiForgeryToken()

        <tr>
            <td colspan="2">
                @(Html.Raw(Model.UserInstructions))
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-left">
                <br />
                <input type="hidden" id="ID" name="ID" value="-1" />
                <input type="submit" class="acs-btn-primary" value="@Buttons.NewSuggestion" />
                <br /><br />
            </td>
        </tr>
    }
    @if (Model.PersonSuggestionModels.Count > 0)
    {
        <tr>
            <td colspan="2">
                <div class="center-block tableoverflow">
                    <table class="table-bordered tablewidth">
                        <tr>
                            <td><input type="hidden" id="ID" name="ID" value="" /></td>
                            <th class="text-center textalign">ID</th>
                            <th class="text-left textalign">Version</th>
                            <th class="text-left textalign">Chapter</th>
                            <th class="text-left textalign">Field</th>
                            <th class="text-left textalign">Definition</th>
                            <th class="text-left textalign">Submission Date</th>
                            <th class="text-left textalign">Status</th>
                        </tr>
                        @foreach (PersonSuggestionModel item in Model.PersonSuggestionModels)
                        {
                            <tr>
                                <td class="text-center textalign">
                                    @if (@item.ExternalStatusTypeId_Name == "Received")
                                    {
                                        <div data-label="Action">
                                            @using (Html.BeginForm(MVC.PersonSuggestion.ActionNames.SuggestionEdit, MVC.PersonSuggestion.Name, FormMethod.Get, new { id = "editsuggestion" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" id="ID" name="ID" value="@item.ID" />
                                                @*<input type="hidden" id="NtdsChapterId" name="PersonSuggestionModels_NtdsChapterId" value="@item.NtdsChapterId" />
                                                <input type="hidden" id="FieldId" name="PersonSuggestionModels_FieldId" value="@item.FieldId" />*@
                                                <input type="submit" name="editdelete" id="editdelete" class="acs-btn-link" value="@Buttons.EditSuggestion" />
                                                <text>/</text>
                                            }
                                            @{

                                                formname = string.Format("form{0}", item.ID);
                                            }
                                            @using (Html.BeginForm(MVC.PersonSuggestion.ActionNames.SuggestionDelete, MVC.PersonSuggestion.Name, FormMethod.Post, new { id = formname }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" id="ID" name="ID" value="@item.ID" />
                                                <input type="submit" name="editdelete" class="acs-btn-link deletesuggestion" data-formname="@(formname)" value="@Buttons.DeleteSuggestion">
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <p>Edit / Delete</p>
                                    }
                                </td>
                                <td class="text-center textalign">@item.ID</td>
                                <td class="text-left textalign">@item.VersionName</td>
                                <td class="text-left textalign">@item.ChapterName</td>
                                @if (@item.FieldName == null)
                                {
                                    <td class="text-left textalign">@item.NewFieldName</td>
                                }
                                else
                                {
                                    <td class="text-left textalign">@item.FieldName</td>
                                }
                                <td class="text-left textalign">@item.Definition</td>
                                <td class="text-left textalign">@item.DateCreated.AsDateTime().ToShortDateString()</td>
                                <td class="text-left textalign">@item.ExternalStatusTypeId_Name</td>
                            </tr>
                        }
                    </table>

                </div>
            </td>
        </tr>
    }
</table>
<script type="text/javascript">
    indexInitialize();
</script>

