@using App.Resources
@model App.ViewModels.PersonSuggestion.SuggestionEditViewModel

@Html.Partial(MVC.Shared.Views._PageHeading)
<div class="container-fluid ">
    @using (Html.BeginForm(MVC.PersonSuggestion.ActionNames.SuggestionEditSave, MVC.PersonSuggestion.Name, FormMethod.Post, new {name = "suggestions", id = "suggestions"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.PersonSuggestionModels.ID)
        @Html.HiddenFor(m => m.PersonSuggestionModels.PersonId)
        @Html.HiddenFor(m => m.PersonSuggestionModels.ExternalStatusTypeId)
        @Html.HiddenFor(m => m.PersonSuggestionModels.InternalStatusTypeId)
        @Html.HiddenFor(m => m.InternalStatusNewEntry)
        @Html.HiddenFor(m => m.InternalStatusNewEntryField)
        @Html.HiddenFor(m => m.PersonSuggestionModels.NtdsVersionId)
        @Html.HiddenFor(m => m.PersonSuggestionModels.NtdsChapterId)
        @Html.HiddenFor(m => m.PersonSuggestionModels.FieldId)
        @Html.HiddenFor(m => m.PersonSuggestionModels.SelectedFieldId)
        @Html.HiddenFor(m => m.PersonSuggestionModels.IsAppendix)
        <div class="row">
            <div class="col-lg-11 col-md-11">
                @(Html.Raw(Model.EditNewInstructions))
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                @Html.LabelFor(m => m.PersonSuggestionModels.VersionName, "Book Version: ", false)
            </div>
            <div class="col-lg-8 col-md-8">
                @Html.LabelFor(m => m.PersonSuggestionModels.VersionName, Model.PersonSuggestionModels.VersionName)
            </div>
        </div>
        <div id="chapters" class="row">
            <div class="col-lg-3 col-md-3">
                @Html.LabelFor(m => m.PersonSuggestionModels.ChapterName, "Chapter: ", false)
            </div>
            <div class="col-lg-8 col-md-8">
                @Html.LabelFor(m => m.PersonSuggestionModels.ChapterName, Model.PersonSuggestionModels.ChapterName)
            </div>
        </div>
        <div class="row">
            @if (Model.PersonSuggestionModels.FieldName != null)
            {
                <div class="col-lg-3 col-md-3">
                    @Html.LabelFor(m => m.PersonSuggestionModels.FieldName, "Data Field: ", false)
                </div>
                <div class="col-lg-8 col-md-8">
                    @Html.LabelFor(m => m.PersonSuggestionModels.FieldName, Model.PersonSuggestionModels.FieldName)
                </div>
            }
        </div>
        <div class="row newappendixname">
            @if (Model.PersonSuggestionModels.FieldName == null)
            {
                <div class="col-lg-3 col-md-3">
                    @Html.LabelFor(m => m.PersonSuggestionModels.NtdsFieldTypeId, " Appendix Type: ", true)
                </div>
                <div class="col-lg-8 col-md-8">
                    @for (int i = 0; i < Model.AppendixList.Count; i++)
                    {
                        @Html.RadioButtonFor(m => m.PersonSuggestionModels.NtdsFieldTypeId, Model.AppendixList[i].ID, Model.AppendixList[i].ID == Model.PersonSuggestionModels.NtdsFieldTypeId ? new { @checked = "checked" } : null)
                        <label>&nbsp;</label>
                        @Html.Label(Model.AppendixList[i].Name)
                        ;
                        <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    }
                </div>
            }
        </div>
        <div class="row">
            @if (Model.PersonSuggestionModels.FieldName == null)
            {
                <div class="col-lg-3 col-md-3">
                    <div class="thisname">
                        @Html.LabelFor(m => m.PersonSuggestionModels.NewFieldName, " Name: ", true)
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <span id="newfieldnamecount"></span>&nbsp;characters remaining<br/>
                    @Html.TextAreaFor(m => m.PersonSuggestionModels.NewFieldName, new {@class = "noblecount", data_spanname = "newfieldnamecount", cols = "100", rows = "5"})
                    @Html.ValidationMessageFor(m => m.PersonSuggestionModels.NewFieldName)
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="thissuggestion">
                    @Html.LabelFor(m => m.PersonSuggestionModels.Definition, " Suggestion: ", true)
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <span id="definitionnamecount"></span>&nbsp;characters remaining<br />
                @Html.TextAreaFor(m => m.PersonSuggestionModels.Definition, new { @class = "noblecount", data_spanname = "definitionnamecount", cols = 100, rows = 4 })
                @Html.ValidationMessageFor(m => m.PersonSuggestionModels.Definition)
            </div>
        </div>
        <div class="row centerblock">
            <br /><br />
            <input type="submit" name="savesuggestion" id="savesuggestion" class="btn acs-btn-primary" value="@Buttons.SaveSuggestion" />
            <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            @Html.ActionLink(Buttons.CancelSuggestion, MVC.Home.Index(), new { @class = "acs-button-warning" })
        </div>
        <script type="text/javascript">
        suggestionAppendixEditInitialize();
        </script>
    }
</div>
