@using App.Resources
@model App.ViewModels.PersonSuggestion.SuggestionEditViewModel

@Html.Partial(MVC.Shared.Views._PageHeading)
<div class="container-fluid ">
    @using (Html.BeginForm(MVC.PersonSuggestion.ActionNames.SuggestionEditSave, MVC.PersonSuggestion.Name, FormMethod.Post, new { name = "suggestions", id = "suggestions" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.PersonSuggestionModels.ID)
        @Html.HiddenFor(m => m.PersonSuggestionModels.PersonId)
        @Html.HiddenFor(m => m.PersonSuggestionModels.ExternalStatusTypeId)
        @Html.HiddenFor(m => m.PersonSuggestionModels.InternalStatusTypeId)
        @Html.HiddenFor(m => m.InternalStatusNewEntry)
        @Html.HiddenFor(m => m.InternalStatusNewEntryField)
        @Html.HiddenFor(m => m.PersonSuggestionModels.NtdsVersionId)
        @Html.HiddenFor(m => m.PersonSuggestionModels.NtdsChapterId)
        @Html.HiddenFor(m => m.PersonSuggestionModels.FieldId)
        @Html.HiddenFor(m => m.PersonSuggestionModels.NewFieldName)
        @Html.HiddenFor(m => m.PersonSuggestionModels.SelectedFieldId)
       <div class="row">
            <div class="col-lg-11 col-md-11">
                @(Html.Raw(Model.EditNewInstructions))
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                @Html.LabelFor(m => m.PersonSuggestionModels.VersionName, "Book Version: ", false)
            </div>
            <div class="col-lg-8 col-md-8">
                @Html.LabelFor(m => m.PersonSuggestionModels.VersionName, Model.PersonSuggestionModels.VersionName)
            </div>
        </div>
        <div id="chapters" class="row">
            <div class="col-lg-3 col-md-3">
                @Html.LabelFor(m => m.PersonSuggestionModels.ChapterName, "Chapter: ", false)
            </div>
            <div class="col-lg-8 col-md-8">
                @Html.LabelFor(m => m.PersonSuggestionModels.ChapterName, Model.PersonSuggestionModels.ChapterName)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                @Html.LabelFor(m => m.PersonSuggestionModels.FieldName, "Data Field: ", false)
            </div>
            <div class="col-lg-8 col-md-8">
                @if (Model.PersonSuggestionModels.FieldName == null)
                {
                    @Html.LabelFor(m => m.PersonSuggestionModels.NewFieldName, Model.PersonSuggestionModels.NewFieldName)
                }
                else
                {
                    @Html.LabelFor(m => m.PersonSuggestionModels.FieldName, Model.PersonSuggestionModels.FieldName)
                }
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                @Html.LabelFor(m => m.PersonSuggestionModels.Definition, " Definition: ", false)
            </div>
            <div class="col-lg-8 col-md-8">
                <span id="definitionnamecount"></span>&nbsp;characters remaining<br/>
                @Html.TextAreaFor(m => m.PersonSuggestionModels.Definition, new {@class = "noblecount", data_spanname = "definitionnamecount", cols = 100, rows = 4})
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-3 col-md-3">
                @Html.LabelFor(m => m.PersonSuggestionModels.FieldValues, " Field Values: ", false)
            </div>
            <div class="col-lg-8 col-md-8">
                <span id="fieldvaluescount"></span>&nbsp;characters remaining<br />
                @Html.TextAreaFor(m => m.PersonSuggestionModels.FieldValues, new { @class = "noblecount", data_spanname = "fieldvaluescount", cols = 100, rows = 4 })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                @Html.LabelFor(m => m.PersonSuggestionModels.AdditionalInformation, " Additional Information: ")
            </div>
            <div class="col-lg-8 col-md-8">
                <span id="additionalinfocount"></span>&nbsp;characters remaining<br />
                @Html.TextAreaFor(m => m.PersonSuggestionModels.AdditionalInformation, new { @class = "noblecount", data_spanname = "additionalinfocount", cols = 100, @rows = 4 })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                @Html.LabelFor(m => m.PersonSuggestionModels.DataSourceHierarchy, " Data Source Hierarchy: ")
            </div>
            <div class="col-lg-8 col-md-8">
                <span id="datasourcecount"></span>&nbsp;characters remaining<br />
                @Html.TextAreaFor(m => m.PersonSuggestionModels.DataSourceHierarchy, new { @class = "noblecount", data_spanname = "datasourcecount", cols = 100, @rows = 4 })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3">
                @Html.LabelFor(m => m.PersonSuggestionModels.AssociatedEditChecks, " Associated Edit Checks: ")
            </div>
            <div class="col-lg-8 col-md-8">
                <span id="associatedcheckscount"></span>&nbsp;characters remaining<br />
                @Html.TextAreaFor(m => m.PersonSuggestionModels.AssociatedEditChecks, new { @class = "noblecount", data_spanname = "associatedcheckscount", cols = 100, @rows = 4 })
            </div>
        </div>
        <div class="row centerblock">
            <br/><br/>
            <input type="submit" name="savesuggestion" id="savesuggestion" class="btn acs-btn-primary" value="@Buttons.SaveSuggestion" />
            <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
            @Html.ActionLink(Buttons.CancelSuggestion, MVC.Home.Index(), new { @class = "acs-button-warning"})
        </div>
        <script type="text/javascript">
            suggestionEditInitialize();
        </script>
    }
</div>
